name: React CI/CD Dev & Prod

on:
  push:
    branches:
      - dev
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24.12.0

      - name: Install dependencies
        run: npm ci

      - name: Build React App
        run: npm run build

      - name: Verify build folder
        run: |
          ls -la
          ls -la dist || ls -la build

      - name: Deploy to DEV
        if: github.ref == 'refs/heads/dev'
        run: |
          aws s3 sync dist/ s3://${{ secrets.S3_DEV_BUCKET }}/ --delete
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ vars.AWS_REGION }}

      - name: Backup PROD
        if: github.ref == 'refs/heads/main'
        run: |
          TIMESTAMP=$(date +%Y%m%d%H%M%S)
          aws s3 sync s3://${{ secrets.S3_PROD_BUCKET }}/current \
          s3://${{ secrets.S3_PROD_BUCKET }}/backups/build-$TIMESTAMP || true

      - name: Deploy to PROD
        if: github.ref == 'refs/heads/main'
        run: |
          aws s3 sync dist/ s3://${{ secrets.S3_PROD_BUCKET }}/current --delete
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ vars.AWS_REGION }}

      - name: CloudFront Invalidate
        if: github.ref == 'refs/heads/main'
        run: |
          aws cloudfront create-invalidation \
          --distribution-id ${{ secrets.CLOUDFRONT_DISTRIBUTION_ID }} \
          --paths "/*"
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
